body {
  font-family: VT323, monospace;
  background-color: #000000;
  color: #00ff00;
  text-align: center;
  padding: 30px;
}
h1{
  font-family: VT323, monospace;
  font-size: 30px;
  background-color: #000000;
  color: #00ff00;
}
p{
  color: #ffffff;
  background-color: #000000;
}

button-nav{
  color: #00ff00;
  background-color: #000000;
}

.navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}
a{
  color: #00ff00:
  text-decoration: none;
}
a: hover{
  text-decoration: bold;
}

.menu-btn {
  color: white;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 8px;
  border: none;
  font-size: 15px;
  aspect-ratio: 1;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  transform: translateX(100%);
  box-shadow: 2px 0px 5px 0px #1a1a1a;
  background: #1b2b42;
}
.logo-wrapper {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
